<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

		<title>Big Data Cucumber: {{ escape( handler.page_title ) }}</title>

		{% block img_imports %}{% end %}

		<link rel="stylesheet" href="{{ static_url( "css/bootstrap.css" ) }}">
		<link rel="stylesheet" href="{{ static_url( "css/cs411-proj.css" ) }}">
		{% block css_imports %}{% end %}

		<script src="{{ static_url( "js/jquery-1.11.0.min.js" ) }}"></script>
		<script src="{{ static_url( "js/bootstrap.min.js" ) }}"></script>
		<script src="{{ static_url( "js/setup.js" ) }}"></script>
		{% block js_imports %}{% end %}
	</head>

	<body>
		<div class="container main-content-container">
			{% block heading %}{% end %}
			{% block content %}{% end %}
		</div>
	</body>
</html>

