<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		{% block meta_content %}{% end %}

		<title>Big Data Cucumber: {{ escape( handler.page_title ) }}</title>

		<link rel="shortcut icon" href="{{ static_url( "img/favicon.ico" ) }}" type="image/x-icon">
		<link rel="icon" href="{{ static_url( "img/favicon.ico" ) }}" type="image/x-icon">
		{% block img_imports %}{% end %}

		<link rel="stylesheet" href="{{ static_url( "css/bootstrap.min.css" ) }}">
		<link rel="stylesheet" href="{{ static_url( "css/typeahead.css" ) }}">
		<link rel="stylesheet" href="{{ static_url( "css/bootstrap-editable.css" ) }}">
		<link rel="stylesheet" href="{{ static_url( "css/bootstrap-datetimepicker.min.css" ) }}">
		<link rel="stylesheet" href="{{ static_url( "css/bootstrap-select.min.css" ) }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<link rel="stylesheet" href="{{ static_url( "css/cs411-proj.css" ) }}">
		{% block css_imports %}{% end %}

		<script src="{{ static_url( "js/jquery-1.11.0.min.js" ) }}"></script>
		<script src="{{ static_url( "js/bootstrap.min.js" ) }}"></script>
		<script src="{{ static_url( "js/typeahead.bundle.min.js" ) }}"></script>
		<script src="{{ static_url( "js/moment.min.js" ) }}"></script>
		<script src="{{ static_url( "js/bootstrap-editable.min.js" ) }}"></script>
		<script src="{{ static_url( "js/bootstrap-datetimepicker.min.js" ) }}"></script>
		<script src="{{ static_url( "js/bootstrap-select.min.js" ) }}"></script>

		<script src="{{ static_url( "js/globals.js" ) }}"></script>
		<script src="{{ static_url( "js/async-adders.js" ) }}"></script>
		<script src="{{ static_url( "js/setup.js" ) }}"></script>
		{% block js_imports %}{% end %}
	</head>

	<body>
		<div class="container main-content-container">
			{% block heading %}{% end %}
			{% block content %}{% end %}
		</div>
	</body>
</html>

