{% extends "navbase.html" %}

{% extends "navbase.html" %}

{% block meta_content %}
	<!-- TODO: Reinsert the ID for the group at this location. -->
	<meta name="groupid" content="{{ group.id }}">
{% end %}

{% block content %}
	<div class="modals-container">
		{% module RenderTemplate( 'schedule-modal', deadlines = deadlines, members = members ) %}

		{% module SimpleModal( 'add-member' ) %}
		{% module SimpleModal( 'add-subgroup' ) %}
		{% module SimpleModal( 'add-deadline' ) %}
	</div>
	<div class="page-header">
		<h1>
			<strong>{{ group.name }}</strong>
			<small>
			{% for supergroup in supergroups %}
			{{ supergroup.name }} <i class="glyphicon glyphicon-arrow-right"></i>
			{% end %}
			{{ group.name }}
			</small>
		</h1>
	</div>
	<div class="content-container col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h3><strong>Group Name:</strong> {{ group.name }} </h3>
				<h3><strong>Group Type:</strong> {{ 'Public' if group_is_public else 'Private' }}</h3>
				{% if not group_is_public %}
				<h3><strong>Maintainer:</strong> {{ group.maintainer }}
					{% if user_is_maintainer %}
					<i class="glyphicon glyphicon-star"></i>
					{% end %}
				</h3>
				{% end %}
			</div>

			<div class="col-md-6">
				<h3><strong>Options:</strong></h3>

				<input class="btn btn-default btn-md btn-block goption-button" 
				data-toggle="modal" data-target="#schedule-query-modal" value="Schedule Meeting">

				<input id="leave_group" class="btn btn-default btn-md btn-block goption-button"
				value="Leave Group">
			</div>
		</div>

		<p>{{ group.description }}</p>

		<h3><strong>Group Information:</strong></h3>

		<div class="cropped-content-container col-md-7 well well-sm">
			<h3 class="inner-heading pull-left">Subgroup List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-subgroup-modal" value="Add Subgroup">
			{% module RenderTemplate( 'group-tree', group_forest = subgroups ) %}
		</div>

		<div class="cropped-content-container col-md-5 well well-sm">
			<h3 class="inner-heading pull-left">Member List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-member-modal" value="Add Member">
			{% module RenderTemplate( 'member-list', members = members ) %}
		</div>

		<div class="cropped-content-container col-md-12 well well-sm">
			<h3 class="inner-heading pull-left">Deadline List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-deadline-modal" value="Add Deadline">
			{% module RenderTemplate( 'deadline-list', deadlines = deadlines ) %}
		</div>
	</div>
{% end %}

