{% extends "navbase.html" %}

{% block meta_content %}
	<!-- TODO: Reinsert the ID for the group at this location. -->
	<meta name="groupid" content="{{ 0 }}">
{% end %}

{% block content %}
	<div class="modals-container">
		{% module ScheduleModal( deadlines, members ) %}
		{% module SimpleModal( 'add-member' ) %}
		{% module SimpleModal( 'add-subgroup' ) %}
		{% module SimpleModal( 'add-deadline' ) %}
	</div>
	<div class="page-header">
		<h1>
			<strong>Big Data Cucumber</strong>
			<small>
				UIUC <i class="glyphicon glyphicon-arrow-right"></i> CS411 <i class="glyphicon glyphicon-arrow-right"></i> Big Data Cucumber
			</small>
		</h1>
	</div>
	<div class="content-container col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h3><strong>Group Name:</strong> Big Data Cucumber</h3>
				<h3><strong>Group Type:</strong> {{ 'Public' if group_is_public else 'Private' }}</h3>
				{% if not group_is_public %}
				<h3><strong>Maintainer:</strong> Eunsoo Roh
					{% if user_is_maintainer %}
					<i class="glyphicon glyphicon-star"></i>
					{% end %}
				</h3>
				{% end %}
			</div>

			<div class="col-md-6">
				<h3><strong>Options:</strong></h3>

				{% if not group_is_public %}
				<input class="btn btn-default btn-md btn-block goption-button" 
				data-toggle="modal" data-target="#schedule-modal" value="Schedule Meeting">
				{% end %}

				{% if not user_is_maintainer %}
				<input id="leave_group" class="btn btn-default btn-md btn-block goption-button"
				value="Leave Group">
				{% elif len(members) == 0 %}
				<input id="delete_group" class="btn btn-default btn-md btn-block goption-button"
				value="Delete Group">
				{% end %}
			</div>
		</div>

		<h3><strong>Group Information:</strong></h3>

		<div class="cropped-content-container col-md-7 well well-sm">
			<h3 class="inner-heading pull-left">Subgroup List:</h3>
			{% if group_is_public %}
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-subgroup-modal" value="Add Subgroup">
			{% end %}
			{% module GroupTree( subgroups ) %}
		</div>

		<div class="cropped-content-container col-md-5 well well-sm">
			<h3 class="inner-heading pull-left">Member List:</h3>
			{% if not group_is_public %}
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-member-modal" value="Add Member">
			{% end %}
			{% module MemberList( members ) %}
		</div>

		<div class="cropped-content-container col-md-12 well well-sm">
			<h3 class="inner-heading pull-left">Deadline List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-deadline-modal" value="Add Deadline">
			{% module DeadlineList( deadlines ) %}
		</div>
	</div>
{% end %}

