{% extends "navbase.html" %}

{% block content %}
	<div class="modals-container">
		{% module Modal( 'schedule' ) %}
		{% module Modal( 'add-member' ) %}
		{% module Modal( 'add-subgroup' ) %}
		{% module Modal( 'add-deadline' ) %}
	</div>
	<div class="page-header">
		<h1>
			<strong>Big Data Cucumber</strong>
			<small>
				UIUC <i class="glyphicon glyphicon-arrow-right"></i> CS411 <i class="glyphicon glyphicon-arrow-right"></i> Big Data Cucumber
			</small>
		</h1>
	</div>
	<div class="content-container col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h3><strong>Group Name:</strong> Big Data Cucumber</h3>
				<h3><strong>Group Type:</strong> Private</h3>
				<h3><strong>Maintainer:</strong> Eunsoo Roh <i class="glyphicon glyphicon-star"></i></h3>
			</div>
			<div class="col-md-6">
				<h3><strong>Options:</strong></h3>
				<div class="col-md-8 form-group">
					<input class="btn btn-default btn-md btn-block" 
					data-toggle="modal" data-target="#schedule-modal" value="Schedule Meeting">
				</div>
				<div class="col-md-8 col-offset-12 form-group">
					<input class="btn btn-danger btn-md btn-block" value="Leave Group">
				</div>
			</div>
		</div>
		<h3><strong>Group Information:</strong></h3>
		<div class="cropped-content-container col-md-6 well well-sm">
			<h3 class="inner-heading pull-left">Member List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-member-modal" value="Add Member">
			{% module MemberList( members ) %}
		</div>
		<div class="cropped-content-container col-md-6 well well-sm">
			<h3 class="inner-heading pull-left">Subgroup List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-subgroup-modal" value="Add Subgroup">
			{% module GroupTree( subgroups ) %}
		</div>
		<div class="cropped-content-container col-md-12 well well-sm">
			<h3 class="inner-heading pull-left">Deadline List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-deadline-modal" value="Add Deadline">
			{% module DeadlineList( deadlines ) %}
		</div>
	</div>
{% end %}

