{% extends "navbase.html" %}

{% extends "navbase.html" %}

{% block meta_content %}
	<!-- TODO: Reinsert the ID for the group at this location. -->
	<meta name="groupid" content="{{ group.id }}">
{% end %}

{% block content %}
	<div class="modals-container">
		{% module RenderTemplate( 'schedule-modal', deadlines = deadlines, members = members ) %}

		{% module SimpleModal( 'add-member' ) %}
		{% module SimpleModal( 'add-course' ) %}
		{% module SimpleModal( 'add-subgroup' ) %}
		{% module SimpleModal( 'add-deadline' ) %}
	</div>
	<div class="page-header">
		<h1>
			<strong>{{ group.name }}</strong><br/>
			<small>
			{% for supergroup in supergroups %}
			<a href="/group/{{ supergroup.id }}">{{ supergroup.name }}</a> <i class="glyphicon glyphicon-arrow-right"></i>
			{% end %}
			{{ group.name }}
			</small>
		</h1>
	</div>
	<div class="content-container col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h3><strong>Group Type:</strong> {{ 'Public' if group_is_public else 'Private' }}</h3>
				{% if not group_is_public %}
				<h3><strong>Maintainer:</strong> {% if group.maintainer %} {{ group.maintainer.name }} {% end %}
					{% if user_is_maintainer %}
					<i class="glyphicon glyphicon-star"></i>
					{% end %}
				</h3>
				{% end %}
			</div>

			<div class="col-md-6">
				{% if not group_is_public %}
				<input class="btn btn-default btn-md btn-block goption-button" 
				data-toggle="modal" data-target="#schedule-query-modal" value="Schedule Meeting">
				{% end %}

				<form action="/group-leave/{{ group.id }}" method="POST">
					{% if not user_is_maintainer and len(supergroups) > 0 and len(subgroups) == 0 %}
					<input id="leave_group" type="submit" value="Leave Group"
					class="btn btn-default btn-md btn-block goption-button">
					{% elif user_is_maintainer and len(members) == 1 %}
					<input id="delete_group" type="submit" value="Delete Group"
					class="btn btn-default btn-md btn-block goption-button">
					{% end %}
				</form>
			</div>
		</div>

		<p>{{ group.description }}</p>

		<h3><strong>Group Information:</strong></h3>

		<div class="cropped-content-container col-md-6 well well-sm">
			<h3 class="inner-heading pull-left">Member List:</h3>
			{% if not group_is_public %}
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-member-modal" value="Add Member">
			{% end %}
			{% module RenderTemplate( 'member-list', members = members ) %}
		</div>

		<div class="cropped-content-container col-md-6 well well-sm">
			{% if group.academic_entity_type == 'term' %}
			<h3 class="inner-heading pull-left">My Courses:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-course-modal" value="Add Course">
			{% elif group_is_public %}
			<h3 class="inner-heading pull-left">My Subgroups:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-subgroup-modal" value="Add Subgroup">
			{% end %}
			{% module RenderTemplate( 'group-tree', group_forest = subgroups ) %}
		</div>

		<div class="cropped-content-container col-md-12 well well-sm">
			<h3 class="inner-heading pull-left">Deadline List:</h3>
			<input class="btn btn-default btn-sm pull-right"
			data-toggle="modal" data-target="#add-deadline-modal" value="Add Deadline">
			{% module RenderTemplate( 'deadline-list', deadlines = deadlines, user = user ) %}
		</div>
	</div>
{% end %}

