{% extends "base.html" %}

{% block content %}
	<div class="jumbotron col-md-12">
		<h1>Big Data Cucumber</h1>
		<p class="lead">
		Welcome to Big Data Cucumber, the one-stop website for all of your
		academic deadline and scheduling needs!  Log in by entering your
		credentials in the form below.  If you're not a member yet, please
		<a href="/register">click here to register</a>!
		</p>

		<form role="form" action="/" method="post">
			<div class="row">
				<div class="col-md-5 form-group">
					<label for="user_email">Email</label>
					<input type="email" class="form-control" name="user_email" 
					placeholder="Email">
				</div>
				<div class="col-md-5 form-group">
					<label for="user_password">Password</label>
					<input type="password" class="form-control" name="user_password" 
					placeholder="Password">
				</div>
				<div class="col-md-2 form-group">
					<!-- TODO: Remove this hack to align the button with the forms. -->
					<label style="visibility: hidden;" for="user_login">_</label>
					<input type="submit" class="btn btn-primary btn-md btn-block" 
					name="user_login" value="Log In">
				</div>
			</div>
		</form>
	</div>
{% end %}
