{% extends "base.html" %}

{% block js_imports %}
		<script src="{{ static_url( "js/edit_validation.js" ) }}"></script>
{% end %}

{% block content %}
	<div class="jumbotron col-md-12">
		<h1>Profile Edit</h1>
		<p class="lead">
		To edit your profile information, please fill out the form below.  If
		you don't wish to alter particular fields, please leave these fields blank
		in the form.
		</p>

		<form role="form" action="/edit" method="post">
			<div class="row">
				<div class="col-md-6 form-group">
					<label for="user_email">Email</label>
					<input type="email" class="form-control" name="user_email" 
					placeholder="{{ user_email }}">
				</div>
				<div class="col-md-6 form-group">
					<label for="user_nickname">Nickname</label>
					<input type="text" class="form-control" name="user_nickname" 
					placeholder="{{ user_nickname }}">
				</div>
				<div class="col-md-6 form-group">
					<label for="user_password">Password</label>
					<input type="password" class="form-control" name="user_password" 
					placeholder="Password">
				</div>
				<div class="col-md-6 form-group">
					<label for="user_password_confirm">Password Confirmation</label>
					<input type="password" class="form-control" name="user_password_confirm" 
					placeholder="Password">
				</div>

				<div class="col-md-6 form-group">
					<label for="available_groups">Available Groups:</label>
					<select multiple class="form-control" name="available_groups">
						{% for group in available_groups %}
							<option value="{{ group }}">{{ group }}</option>
						{% end %}
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label for="user_groups">Current Groups:</label>
					<select multiple class="form-control" name="user_groups">
						{% for group in user_groups %}
							<option value="{{ group }}">{{ group }}</option>
						{% end %}
					</select>
				</div>
				<div class="col-md-2 col-md-offset-2 form-group">
					<input name="add_group" class="btn btn-primary btn-md btn-block" value="Add Group">
				</div>
				<div class="col-md-2 col-md-offset-4 form-group">
					<input name="rem_group" class="btn btn-primary btn-md btn-block" value="Remove Group">
				</div>

				<!-- TODO: Remove this hack to get all the new user group information! -->
				<div style="visibility: hidden;">
					<input type="text" name="new_user_groups">
				</div>

				<div class="col-md-4 col-md-offset-4 form-group">
					<input type="submit" class="btn btn-primary btn-md btn-block" value="Update">
				</div>
			</div>
		</form>
	</div>
{% end %}
