/**
 * @file commons-vis.css
 * @author Joseph Ciurej
 * @date Spring 2014
 *
 * Container file for supplementary CSS for the email visualization website.
 *
 * @TODO
 * - 
 */


/* Main Page Styling */

body {
	padding-top: 20px;
	width: 100%;
}


/* Visualization Page Styling */

#viz {
	width: 100%;
	height: 95%;
}
