/**
 * @file cs411-proj.css
 * @author Joseph Ciurej
 * @date Spring 2014
 *
 * Container file for supplementary CSS for the CS411 project website.
 *
 * @TODO
 * - Fill out any necessary extra CSS information in this file!
 */


/* Main Page Styling */

body {
	width: 100%;
	padding-top: 0px;
}

textarea {
	resize: none;
}

/* Item Listing Styling */

ul.deadline-list {
	padding: 0px;
	margin: 0px;
}

li.deadline-entry {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #cccccc;
	background: #eeeeee;
}

li.deadline-entry:hover {
	cursor: pointer;
}

ul.deadline-notes {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.deadline-notes li {
	padding: 0px;
	margin: 0px;
}

/* Miscellaneous Styling */

.content-container {
	margin-top: 20px;
}

