/**
 * @file cs411-proj.css
 * @author Joseph Ciurej
 * @date Spring 2014
 *
 * Container file for supplementary CSS for the CS411 project website.
 *
 * @TODO
 * - Fill out any necessary extra CSS information in this file!
 */


/* Main Page Styling */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding-top: 0px;
}

textarea {
	resize: vertical;
}

.inner-heading {
	margin: 2px;
	padding: 0px;
}

.goption-button {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Content Container Styling */

.main-content-container {
	margin-top: 20px;
	height: 80%;
}

.content-container {
	height: 100%;
}

.nested-content-container {
	width: 98%;
	height: 90%;
	overflow-y: auto;
}

.cropped-content-container {
	height: 300px;
}

/* Form Styling */

.tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

.deadline-icon-group {
	margin-top: -18px;
}

.deadline-icon:hover {
	cursor: pointer;
}

/* Modal Styling */

.modal-heading {
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
	margin-left: 5px;
}

/* Item Listing Styling */

ul.deadline-list, ul.deadline-notes, ul.group-forest {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.deadline-notes li {
	padding: 0px;
	margin: 0px;
}

li.deadline-entry, ul.group-forest li, ul.member-list li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #cccccc;
}

li.deadline-entry.PER {
	background: #bbbbbb;
}

li.deadline-entry.COM {
	background: #dddddd;
}

li.deadline-entry.END {
	background: #ffffff;
}

ul.deadline-notes li {
	padding: 0px;
	margin: 0px;
}

/* Miscellaneous styling */

#google_auth:hover{
	cursor: pointer;
}
