<div class="content-container row">
	<div class="nested-content-container col-md-12">
		<ul class="deadline-list">
			{% for deadline in deadlines %}
			<li id="deadline-{{ deadline.id }}" class="deadline-entry {{ deadline.type }}">
				<h5 class="inner-heading">
					<strong>{{ deadline.group.name }}:</strong>

					{% if deadline.type == "PER" or (deadline.group.maintainerId == user.id and deadline.type == "END") %}
					<a href="#" class="editable-field" data-name="name" data-type="text"
					data-pk="{{ deadline.id }}" data-url="/update-deadline-name" data-title="Enter New Name">
						{{ deadline.name }}
					</a>
					{% else %}
						{{ deadline.name }}
					{% end %}

					<small>
						{% if deadline.type == "PER" or (deadline.group.maintainerId == user.id and deadline.type == "END") %}
						<a href="#" class="editable-date" data-viewformat="dddd MMMM DD, hh:mm A" 
                        data-name="time"    
                        data-format="YYYY-MM-DD HH:mm" data-template="MMMM DD, hh:mm A"
						data-type="combodate" data-pk="{{ deadline.id }}" 
						data-url="/update-deadline-time" data-title="Enter New Time">
							{{ deadline.deadline.strftime( "%A %B %d, %I:%M" ) }}
						</a>
						{% else %}
							{{ deadline.deadline.strftime( "%A %B %d, %I:%M" ) }}
						{% end %}
					</small>
				</h5>
				<div class="deadline-icon-group pull-right">
					{% if deadline.type == "PER" or (deadline.group.maintainerId == user.id and deadline.type == "END") %}
					<span data-id="{{ deadline.id }}" 
					class="glyphicon glyphicon-remove deadline-icon deadline-remove-icon"></span>
					{% end %}
					<span data-id="{{ deadline.id }}" 
					class="glyphicon glyphicon-chevron-down deadline-icon deadline-expand-icon"></span>
				</div>

				<ul class="deadline-notes">
					<li><small>
						{% if deadline.meta %}
							<a href="#" class="editable-notes" data-name="notes" data-type="text"
							data-pk="{{ deadline.id }}" data-url="/update-deadline-notes" data-title="Enter New Notes">
								{{ deadline.meta.notes }}
							</a>
						{% end %}
					</small></li>
				</ul>

			</li>
			{% end %}
		</ul>
	</div>
</div>

